:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 215 194 14;
  --oui-color-primary-light: 255 234 108;
  --oui-color-primary-darken: 132 118 5;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 215 194 14;
  --oui-color-link-light: 255 234 108;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 234 233 226;
  --oui-color-quaternary: 194 193 187;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 36 32 47;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 83 83 80;
  --oui-color-base-2: 57 50 1;
  --oui-color-base-3: 68 67 60;
  --oui-color-base-4: 69 69 69;
  --oui-color-base-5: 58 57 49;
  --oui-color-base-6: 44 44 44;
  --oui-color-base-7: 43 43 39;
  --oui-color-base-8: 39 39 27;
  --oui-color-base-9: 21 21 20;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 232 69 85;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 57 172 103;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 40 0 97;
  --oui-gradient-primary-end: 189 107 237;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;


  --oui-gradient-brand-start: 255 234 108;
  /* #FFEA6C */
  --oui-gradient-brand-end: 132 118 5;
  /* #847605; */
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html,
body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}