name: Upload to S3 and Invalidate CloudFront
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
on:
  push:
    branches:
      - develop
env:
  S3_BUCKET_NAME: 'roofless-dex-dev'
  CLOUDFRONT_ID: 'E2TLOUEV0IXP3P'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile 

      - name: Build Artifact
        run: yarn build

      - name: Extract repository name
        run: |
          REPO_NAME=$(echo "${GITHUB_REPOSITORY}" | cut -d'/' -f2)
          echo "The repository name is ${REPO_NAME}"
          echo "REPO_NAME=${REPO_NAME}" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::637423421580:role/${{ env.REPO_NAME }}-role
          aws-region: us-west-2

      - name: Deploy to S3
        run: aws s3 sync out s3://${{ env.S3_BUCKET_NAME }} --delete

      - name: Invalidate CloudFront
        run: aws cloudfront create-invalidation --distribution-id ${{ env.CLOUDFRONT_ID }} --paths "/*"